body{
	background-image: url(https://wallpaperaccess.com/full/181060.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
 
.main-box {
	width:600px;
	background-color: rgba(0,0,0,0.8);
	color:white;
	margin: 0 auto;
	margin-top:150px;
}

input[type="text"], input[type="number"] {
	display:block;
	width:80%;
	margin: 10px auto;
	height:30px;
	text-indent:10px;
	border-radius:10px;
}

textarea {
	padding-left:10px;
	width:80%;
	border-radius:10px;
	min-height:100px;
}

#main-buttons {
	margin: 10px auto;
	padding-bottom:20px;
}

#inside-buttons {
	margin-left:auto;
}

.textarea-container {
	margin-left:60px;
	width:100%;
}

input:focus {
	border-radius:10px;
	border: 3px solid teal;
	outline:none;
}

textarea:focus {
	outline:none;
	border: 3px solid teal;
	border-radius:10px;
}